@font-face{
    src: url(../asset/font/IRANSansWeb_.number.woff2);
    font-family: "iran_san";
    }


    @font-face{
        src: url(../asset/font/munzaav.ttf);
        font-family: "munza";
        }


*{
    font-family: iran_san;
}

body {
    margin: 0px;
    padding: 0px;
    direction: rtl;
    
  }
  

// global class-----------------------------
.flex{display: flex;  
     justify-content:center;
    align-items: center;}




    //color -----------------
    .yellow{
        background:#fcbf16;
    }

  



























  /* menu----------------------------------- */
  .menu{
    position: sticky;
    top: 0px;
    z-index: 5;
    background: #fff;

  
        .body_{
            justify-content:space-between;
            align-items: center;
            


            .right_box{
                            width: 20px;
                            padding: 14px 17px;
                            font-size: 20px;
                            cursor: pointer;
                            text-decoration: none;

                                span{    
                                    position: relative;
                                    top: -2px;
                                    color: #fff;}
            }


            .center_box{

                .body_btn{


                    .btn:hover i{
                        width: 60%;
                    }



                    .btn:hover a{
                        color: #fcbf16;
                        text-shadow: 0px 0px 0px #000;
                    }
                    .btn{
                                
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;


                    

                        i{
                                            
                                    background: #fcbf16;
                                    height: 2px;
                                    width: 0%;
                                    transition: all 0.6s;
                         }
                           
                         
                         a{
                                font-size: 13px;
                                margin: 0px 20px;
                                text-decoration: none;
                                cursor: pointer;
                                text-shadow: 0px 0px 0px;
                            
                                transition: all 0.2s;
                                position: relative;

                            

                    }

                

                  

                }
            }
            }



            .left_box{

                        width: 40px;
                        padding: 0px 7px;

                        .logo_name{
                        margin: 0px;
                        font-family: initial;
                        font-size: 40px;
                        color: #fcbf16;
                        }
            }
        }
        


  
  }



//   slid-------------------------------------
.slid{
    position: relative;




    .follow_me{
        
        position: fixed;
        left: 0px;
        top: 100px;
        padding: 14px;

        .box{display: flex;
            flex-direction: column;
            position: sticky;
            top: 20px;
        }
    a{cursor: pointer;
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
    }
    a:hover{

        color: #000;
    }


    }

    ._body{
        display: flex;
        justify-content: center;
        padding: 0px 54px;
    

            .slider_body{
                width: 100%;
                background: url(../asset/img/light_background.jpg);
                height: 540px;
                position: relative;
                background-size: cover;


                .img_user{
                    z-index: 1;
                    position: absolute;
                    width: 300px;
                    right: 20%;
                    top: 40px;
                    box-shadow: 10px 10px 30px -9px #000;
                    border-radius: 10px;
                }



                .info{
                    position: absolute;
                    left: 0px;
                    background: rgba(0, 0, 0, 0.71);
                    top: 0px;
                    width: 60%;
                    height: 100%;
                    flex-direction: column;


                    .text_box{
                        color: #ffff;
                        text-align: justify;
                        h1{    margin: 0px;
                            font-size: 49px;}
                        h2{color: #fcbf16;
                            margin: 0px;}
                        p{

                        }

                        button{

                            border: unset;
                            padding: 7px 11px;
                            border-radius: 8px;
                            color: aliceblue;
                            background: #fcbf16;
                            text-shadow: 0px 0px 5px #000;
                            cursor: pointer;
                            outline: unset;
                        }


                    }


                }
            }






    }


   
}

// profile -------------------------------------------
.profile{
    padding: 60px 40px;
    background: url(../asset/img/pattern.svg) repeat;
    ._body{
       
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .right_box{
           
        .image{
                    position: relative;
                    
                img{  
                    
                    position: relative;
                    z-index: 2;
                    box-shadow: -3px 0px 10px -3px #000;
                      border-radius: 10px;
                   }

                .back_image{
                    box-shadow: -3px 0px 10px -3px #000;
                    border-radius: 10px;
                    width: 100px;
                    height: 340px;
                    background: #fcbf16;
                    display: block;
                    position: absolute;
                    right: -30px;
                    bottom: -16px;
                
                }


         }
        


        }
        .left_box{
            display:flex;
            justify-content: center;
            flex-direction: column;
            padding:0px 60px;
            max-width: 400px;


            h2{
                font-family: munza;
                margin: 0px;
                font-weight: 100;
                font-size: 21px;
                color: #0d374e;
            }

            b{font-family: munza;}

            .line_1{

                background: #fcbf16;
                width: 99px;
                height: 2px;
                margin-top: 9px;
            
            }
            .line_2{

                background: #fcbf16;
                width: 139px;
                height: 2px;
                margin-top: 3px;
            
            }
            p{
                font-size: 17px;
                text-align: justify;
                font-family: munza;
                color: gray;
            }



            .item_box{
                margin-top: 30px;
                width: 100%;
                display: flex;

                .el{
                    background: #fff;
                    width: 45%;
                    display: flex;
                    height: 150px;
                    transition: all 0.5s;
                    margin: 0px 10px;
                    padding: 10px;

                    i{
                        font-size: 30px;
                        padding-left: 10px;
                    }

                    h4{margin: 0px; font-family: munza;}

                    p{
                        color: gray;
                        font-size: 14px;
                        text-align: justify;
                    }


                }

                .el:hover{    box-shadow: 0px 0px 8px -4px;
                  
                    border-radius: 8px;
                }



            }



            button{
                padding: 5px;
                width: 120px;
                font-size: 18px;
                border: unset;
                font-family: munza;
                background: #fcbf16;
                color: #fff;
                text-shadow: 0px 0px 4px #000;
               margin-top: 10px;
                cursor: pointer;
                outline: none;
                box-shadow: 0px 4px 9px -4px #000;
            }

        }



    }
}


.skill{


    margin: 0px 60px;
    background: #f7f8fc;
    padding: 20px 0px;

    .body_{

        padding: 0px 10px;
        flex-direction: column;
        font-family: munza;
        padding-bottom: 80px;

        .titel{

            h3{
                font-family: munza;
                position: relative;
                font-size: 23px;
                color: #0d374e;
            }

            h3::after, h3::before{content: "";
                content: "";
                position: absolute;
                bottom: -8px;
                background: #fcbf16;
                width: 100%;
                height: 2px;
                right: 0px;}
              
             
            h3::before{ 
                bottom: -14px;
                width: unset;
                left: 25%;
                right: 25%;
            }

          
        }


        p{ 
            font-family: munza;
    max-width: 400px;
    margin-top: 6px;
    font-size: 16px;
    color: gray;
    text-align: center;
        }





        .skill_box{
            width: 75%;
            display: flex;
            flex-wrap: wrap;

            .skill_{
                width: 50%;
               
                display: flex;
                flex-direction: column;
                padding: 20px 0px;


              

                .info{
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 23px;
                    a{
                        font-family: munza;
                    }
                }

                .bar{  background: #c7c8ce;
                    height: 5px;
                    
                    margin: 0px 23px;
                    position: relative;
                
                    .line{
                        position: absolute;
                        width: 70%;
                        height: 100%;
                        background: #fcbf16;
                        left: 0px;


                        i{    
                            background: #fcbf16;
                            position: relative;
                            top: -32px;
                            font-size: 17px;
                            padding: 0px 8px;
                            border-radius: 30px 30px 50px 0px;
                            font-style: normal;
                            font-family: munza;
                            right: -27px;}

                    }

                   
                
                }

            
            }

        }


    }





}




// work_process------------------------------------------
.work_process{
padding: 30px 0px;

    ._body{

        padding: 0px 10px;
        flex-direction: column;
        font-family: munza;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
        .titel{
           
            h3{
                font-family: munza;
                position: relative;
                font-size: 23px;
                color: #0d374e;
            }

            h3::after, h3::before{content: "";
                content: "";
                position: absolute;
                bottom: -8px;
                background: #fcbf16;
                width: 100%;
                height: 2px;
                right: 0px;}
              
             
            h3::before{ 
                bottom: -14px;
                width: unset;
                left: 25%;
                right: 25%;
            }

          
        }


                p{ 
                    font-family: munza;
            max-width: 400px;
            margin-top: 6px;
            font-size: 16px;
            color: gray;
            text-align: center;
                }



                .item_body{
                    padding-top: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: center;
                    align-items: center;


                    .item:hover{
                       
                        top: -10px;
                    }
                    

                    .item{
                        top: 0px;
                        position: relative;
                        transition: all 0.4s;
                        width: 230px;
                        margin: 0px 10px;
                        min-height: 200px;
                        border: 2px solid rgba(212, 210, 210, 0.5);
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 8px;
                        box-shadow: -2px -1px 12px -8px;
                        padding: 25px 10px 10px 8px;
                    



                        .icon{    font-size: 40px;
                            color: #093273;
                        }
                    
                    .titel_{
                        text-align: center;
                        font-family: munza;
                        font-size: 18px;
                        margin: 0px;
                        margin-top: 19px;
                    }


                    .link{
                        margin-bottom: 10px;
                        background: #fcbf16;
                        padding: 5px 40px;
                        border-radius: 6px;
                        color: white;
                        font-family: munza;
                        text-shadow: 0px 0px 4px #000;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    

                    }
                }
    }










}



//label--------------------------------------------------
.label{
    background: url(../asset/img/light_background.jpg);
    margin: 40px 79px;
    background-attachment: fixed;
    background-repeat: space;
._body{
    height: 240px;
   background: rgba(19, 12, 12, 0.48);
    display: flex;
    justify-content:space-around;
    align-items: center;



    .info{


        .titel{
            font-family: munza;
            color: #fcbf16;
            font-size: 50px;
            margin: 0px;
            text-shadow: 0px 0px 9px #000;



        }

        .message{    margin: 0px;
            color: #fff;
            text-shadow: 0px 0px 1px;
            font-family: munza;
            font-size: 34px;}


           
    }


    .btn{font-family: munza;
        font-size: 28px;
        border-radius: 6px;
        border: unset;
        color: #fff;
        background: #fcbf16;
        text-shadow: 0px 0px 4px #000;
        padding: 0px 20px;
        outline: unset;
        cursor: pointer;
    }


}




}




//Story----------------------------------------------------
.story{

        background: #f7f8fc;
        margin: 0px 80px;

    ._body{
        justify-content: start;
        align-items: start;
        padding: 30px 120px;
        min-height: 500px;
        flex-direction: column;
        



        h3{
            font-family: munza;
            position: relative;
            font-size: 33px;
            color: #0d374e;
            margin-right: 10px;
        }

        h3::after, h3::before{content: "";
            content: "";
            position: absolute;
            bottom: -8px;
            background: #fcbf16;
            width: 100%;
            height: 2px;
            right: 0px;}
          
         
        h3::before{ 
            bottom: -14px;
            width: unset;
            left: 25%;
            right: 25%;
        }




        .history{

            display: flex;
        
           min-height: 500px;
           width: 100%;
            flex-direction: column;

            .item{

                display: flex;
                margin-bottom:30px;
             


                .time{
                    display: flex;
                    flex-direction: column;
                    a{
                        font-family: munza;
                    }

                }

                .line{

                   
                    width: 2px;
                    
                    margin: 0px 36px;
                    position: relative;
                }

                .line_A::before{
                    content: "";
                    position: absolute;
                    background: gainsboro;
                    top: 0px;
                    bottom: -40px;
                    width: 2px;
                    z-index: 0;
                }

                .line::after{
                    content: "";
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #fcbf16;
                    position: absolute;
                    top: -3px;
                    left: -9px;
                    box-shadow: 0px 0px 0px 7px rgba(252, 191, 22, 0.33);
                    animation-name: icon_btn;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                }



                
                  @keyframes icon_btn {
                    0% { box-shadow: 0px 0px 0px 0px rgba(252, 191, 22, 0.33);
                       
                    }
                     50% { box-shadow: 0px 0px 3px 10px rgba(252, 191, 22, 0.33);}
                     100% { box-shadow: 0px 0px 0px 0px rgba(252, 191, 22, 0.33);}
                  }

                .box{
                    width: 71%;
                    padding: 0px 20px;
                    background: #ffff;
                    box-shadow: 2px 5px 7px -4px #cdced1;
                    border-radius: 8px;
                    border: 1px solid #c3c3c3;

                    h2{
                        font-family: munza;
                        margin-bottom: -15px;
                        color: #fcbf16;
                        font-size: 32px;
                        text-shadow: 0px 0px 3px #000;    
                    }
                    h6{
                        margin: 0px;
                        font-family: munza;
                        font-size: 25px;
                        color: gray;
                    }
                    p{
                        margin: 0px;
                        font-family: munza;
                        padding: 5px 0px 20px 0px;
                        font-size: 16px;

                    }
                }





            }

        }


        #btn_rezo{

            font-family: munza;
             border: 1px solid #fcbf16;
            font-size: 20px;
            cursor: pointer;
            background: #fff;
            text-decoration: none;
            padding: 1px 12px;
        }
    }


}